/*Table in general*/
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-bottom: 5%;
    }

/*columns*/
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*Make the even row grey*/
tr:nth-child(even){background-color: #f2f2f2;}
/*Make the odd row white*/
tr:hover {background-color: #ddd;}
/*For table heading*/
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #29719b;
    color: white;
}

/*Delete and Edit Href*/
.link {
    background-color: #ba273f;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.center{
  text-align: center;
}

.link:hover {
    box-shadow: 1px 1px 5px #303030;
}

/*Add Menu Button*/
.menubtn {
    background-color: #1b2840;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%
}

/*Add Menu Button Hover*/
.menubtn:hover {
    box-shadow: 1px 1px 5px #303030;
}

/*Make The TH text centered*/
.straightth{
    text-align: center;
}

#searchBox{
    width: 20%;
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px grey;
    padding: 5px 10px;
}

#searchBox:hover{
    box-shadow: 1px 1px 5px #303030;
}
#searchBox:focus{
    box-shadow: 1px 1px 5px #29719b;
}

#searchBtn{
    border: solid 1px #ba273f;
    border-radius: 5px;
    background-color: #ba273f;
    padding: 5px 10px;
    color: white;
}

#searchBtn:hover{
    box-shadow: 2px 2px 5px #303030;
    cursor: pointer;
}

/*---------------------------------Modal--------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-size: 20px;
}

/* Modal Content */
.modal-content {
    background-color: #13547A;
    margin: auto;
    padding: 2% 3%;
    border: 1px solid #13547A;
    border-radius: 15px;
    width: 25vw;
    height: 200px;
    box-shadow: 3px 3px 10px #303030;
    color: white;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#asklbl{
  font-size: 25px;
  width: 60%;
  margin-bottom: 0px;
}

#inputAmount{
  transition: 0.5s;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px 15px;
  width: 50%;
}

#inputAmount:hover, :focus, #addPOBtn:hover{
  transition: 0.5s;
  box-shadow: 2px 2px 5px #303030;
}

#addPOBtn{
  transition: 0.5s;
  color: white;
  background-color: #ba273f;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 1% 4%;
  font-size: 20px;
  margin-left: 4%;
  cursor: pointer;
}
